.gae-coins {
	color: #ffffff;
	display: flex;
	padding: 5px 15px;
	font-size: 2rem;

	.gae-value {
		padding-right: 5px;
	}

	.gae-button {
		margin-left: 30px;
		padding: 0.355rem 1rem;
		background-color: #554cff;
	}
}